/* Navbar style */

#header-nav {
	border-radius: 0;
	border: 0;
}

.navbar-brand h1 {
	font-size: 1.5em;
	color: #fff8ee;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 24px;
}

#nav-list a {
	color: #fff8ee;
}

#nav-list a:hover {
	color: #63b5e5;
}


.navbar-nav {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Body style */

* {
	font-family: 'Oxygen Mono', monospace;
}

#main-content h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
}

#main-content h3 {
	font-size: 1.25em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0px;
}

 body {
  	background-color: #63b5e5;
}

article {
	color: #0c100c;
}

.image {
	padding: 0px 0px 10px 0px;
	width: 100%;
  	height: auto;
}

/*Box styles*/

.shell {
  padding: 10px;
}


.bigbox {
  border: 1px solid black;
  background-color: white;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  color: #fff8ee;
  position: relative;
  padding: 10px;
}